<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>A/S규정 :: GALAX CLONE</title>
		 <!-- CDN으로 넣는방법 -->
		<link rel="stylesheet" href="/css/commons.css">
		<link rel="stylesheet" href="/css/header.css">
		<link rel="stylesheet" href="/css/footer.css">
		<link rel="stylesheet" href="/css/index.css">
		
		<link rel="stylesheet" href="/css/side.css">
		<link rel="stylesheet" href="/css/content.css">
	</head>
	<body>
		<th:block th:insert="~{/layout/header :: header}" />
			<section class="view-size flex between">
				<div id="side" th:fragment="custom-side">
					<h1>사이드메뉴</h1>
					<p>고객지원</p>
					<ul>
						<li>
							<a href="/custom/aspolicy">- A/S규정</a>
						</li>
						<li>
							<a href="#">- A/S접수</a>
						</li>
						<li>
							<a href="#">- 정품시리얼조회</a>
						</li>
						<li>
							<a href="#">- FAQ</a>
						</li>
						<li>
							<a href="/qna">- 고객센터</a>
						</li>
						<li>
							<a href="/custom/board">- 자료실</a>
						</li>
						<li>
							<a href="https://www.ilogen.com/web" target="_blank">- 배송조회</a>
						</li>
						<li>
							<a href="#">- A/S 서비스 만족도</a>
						</li>
					</ul>
				</div>
				<div class="wrap">
					<section>
						<div id="title">
							<p>A/S규정</p>
						</div>
					</section>
					<section>
						<div>
							<p><b>[고객지원센터 주소]</b></p>
							<p>서울시 용산구 원효로 138, 청진빌딩 9층 갤럭시코리아 고객지원센터</p>
							<p>문의전화 : 02-701-0520</p>
						</div>
						<div>
							<p><b>[고객지원센터 운영시간]</b></p>
							<p>월~금요일 오전 9시30분 ~ 오후 5시</p>
							<p>점심시간 : 오전 12시 ~ 오후 1시</p>
							<p>토, 일, 법정공휴일 : 휴무</p>
						</div>
						<div>
							<p>1. Test Product</p>
							<p><b>VGA </b>- "Mods, Software(tool), OS &amp; Game, Benchmarking, Performance" Test.</p>
							<p><b>SSD </b>- Software(tool), OS &amp; Game, Benchmarking, Performance" Test.</p>
							<p><b>Memory </b>- "Software(Tool), XMP" Test.</p>
							<p><b>Gaming Accessories</b>(키보드, 마우스, 마우스 패드, 헤드셋, 게이밍 체어) - 인식, 정상작동 테스트</p>
						</div>
						<div>
							<p><b>2. 주요업무</b></p>
							<p>- System &amp; Product on Test.</p>
							<p>- 전화, 택배, 내방고객 기술지원</p>
							<p>- 온라인 기술지원</p>
							<p>- 제품 교체(무상보증기간 내 제품 1:1 무상 교체)</p>
							<p>- 유상 수리(VGA에 한함, 무상 기간만료 제품)</p>
							<p>- 제품 구동 시연</p>
							<p>- Galaxy(신제품, Promotion 이벤트) 안내 서비스.</p>
						</div>
						<div>
							<p><b>3. A/S 보증 기간</b></p>
							<p><b>A.</b> 무상보증 3년. (VGA, SSD, M.2)</p>
							<p><b>B.</b> 무상보증 1년 (키보드, 마우스, 마우스패드, 헤드셋, 게이밍 체어)</p>
							<p><b>C.</b> Life Time Warranty – (Memory)</p>
							<p><b>- "Life Time Warranty" 란?</b></p>
							<p>구매일과는 별도로 제품이 단종(판매종료)되기 전까지 무상 보증서비스 제공을 뜻합니다.</p>
							<p>(단종 여부는 별도로 공지 하지 않습니다.)</p>
							<p><b>- 구매 영수내역 증빙</b></p>
							<p>(전자증빙, 직인날인서류(지출증빙 영수증, 현금영수증, 세금계산서)를 원칙으로 하며</p>
							<p>임의 "작성, 수정"이 가능한 "간이 영수증, 거래명세서 및 기타 수기 거래 내역서"는 불가 합니다)</p>
							<p><b>- 무상보증 처리 기준</b></p>
							<p><b>(1) </b>무상보증기간 내 정상적인 사용 중에 발생한 성능, 기능상 고장 제품</p>
							<p><b>(2) </b>구매 초기 작동불가 제품</p>
							<p><b>- 유상 처리 기준(수리 협력업체 이관 처리)</b></p>
							<p><b>(1) </b>시리얼/영수증구매일자상으로부터 보증기간이 지난 제품</p>
							<p><b>(2) </b>출력 포트 파손</p>
							<p><b>(3) </b>5개 이하의 소자 탈락 단순 파손</p>
							<p><b>(4) </b>보증기간이 지난 후의 쿨러파손, 불량</p>
						</div>
					</section>
				</div>
			</section>
		<th:block th:insert="~{/layout/footer :: footer}" />
	</body>
</html>