<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="UTF-8">
		<meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}"/>
		<meta name="_csrf_header" content="X-CSRF-TOKEN"/>
		<link rel="shortcut icon" href="/images/fsearch.gif">
		<title>자주 물어보는 질문 :: GALAX CLONE</title>
		 <!-- CDN으로 넣는방법 -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
		
		<link rel="stylesheet" href="/css/commons.css">
		<link rel="stylesheet" href="/css/header.css">
		<link rel="stylesheet" href="/css/footer.css">
		<link rel="stylesheet" href="/css/side.css">
		<link rel="stylesheet" href="/css/content.css">
		<link rel="stylesheet" href="/css/faq.css">
		<link rel="stylesheet" href="/css/board.css">
		
		<!-- include summernote css/js -->
		<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet"> 
		<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
		<script src=" https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/lang/summernote-ko-KR.min.js"></script>
		<!-- 서머노트를 위해 추가해야할 부분 -->
		<script src="/summernote/summernote-lite.js"></script>
		<script src="/summernote/lang/summernote-ko-KR.js"></script>
		<script src="/summernote/summernote-mySetting.js"></script>
		<link rel="stylesheet" href="/summernote/summernote-lite.css">	
		
	</head>
	<body>
	<th:block th:insert="~{/layout/header :: header}" />
	<section id="faq" class="view-size flex between">
		<th:block th:insert="~{/custom/aspolicy :: custom-side}" />
		<div class="wrap">
			<div id="title">
				<p>FAQ</p>
			</div>
			<div id="faq-write" sec:authorize="hasRole('ROLE_ADMIN')" class="flex end">
				<p>
					<a href="/faq/write">글쓰기</a>
				</p>
			</div>
			<th:block class="wrap" th:each="list : ${list}">
				<section class="faq-list">
					<div class="wrap">
						<div class="faq-title">
							<ul class="flex wrap between">
								<li>
									<img alt="icon-search" src="/images/fsearch.gif">
								</li>
								<li class="tit">[[${list.subject}]]</li>
								<li class="arrow">
									<strong><span class="btn-up">&and;</span></strong>
									<strong><span class="btn-down">&or;</span></strong>
								</li>
							</ul>
						</div>
						<div class="faq-content">
							<div class="btn-del" sec:authorize="hasRole('ROLE_ADMIN')">
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
								<input type="hidden" name="_method" value="DELETE">
								<input type="hidden" class="fno" th:value="${list.fno}">
								<!-- <a class="updatebtn">수정</a> -->
								<a class="delbtn" th:href="|/faq/delete/${list.fno}|">삭제</a>
							</div>
							[(${list.content})]
						</div>
						<script type="text/javascript">
							$(".updatebtn").click(function(){
								$("#faq").hide();
								$(".updateform").show();
								var a = $(this).siblings(".fno").val();
								console.log(a);
							});
							
							$(".delbtn").click(function(){
								alert("삭제되었습니다.");
							});
							
							//아래로화살표 누르면
							$(".btn-down").click(function(){
								$(this).hide();
								$(this).parents(".arrow").find(".btn-up").show();
								$(this).parents(".faq-list").find(".faq-content").slideDown("slow");
							});
							
							//위로화살표 누르면
							$(".btn-up").click(function(){
								$(this).hide();
								$(this).parents(".arrow").find(".btn-down").show();
								$(this).parents(".faq-list").find(".faq-content").slideUp("slow");
							});
							
						</script>
					</div>
				</section>
			</th:block>
		</div>
	</section>
	<section id="boardwrite" class="view-size between updateform">
		<div>
			<p id="title">자주 물어보는 질문</p>
		</div>
		<div class="board-form view-size">
			<form action="/faq/write" method="post">
				<table>
					<tr>
						<th>제목</th>
						<td>
							<input class="subject" name="subject" required="required" type="text">
						</td>
					</tr>
					<tr>
						<th>내용</th>
						<td>
							<textarea class="summernote" name="content" required="required" rows="20" cols="120"></textarea>
						</td>
					</tr>
				</table>
				<div class="btns flex">
					<a href="/faq"><button type="button">취소</button></a>
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
					<button type="submit">작성완료</button>
				</div>
			</form>
		</div>
	</section>
	</body>
	<th:block th:insert="~{/layout/footer :: footer}" />
</html>