<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head />
	<body>
		<footer>
			<section id="footer">
				<div class="wrap flex between">
					<th:block th:replace="/layout/menu :: menu" />	
					<div id="contact">
						<ul>
							<li>
								<dl>
									<dt>CONTACT US</dt>
									<dd>
										<h5>(주)갤럭시 코리아</h5>
									</dd>
									<dd>
										<h5>A/S고객지원센터</h5>
										<p>서울 용산구 원효로 138<br>청진빌딩 9층</p>
										<p>TEL.02-701-0520<br>FAX.02-706-0530</p>
									</dd>
									<dd>
										<a href="#" class="tit">개인정보처리방침</a>
									</dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>
				<div id="copy">
					<p>COPYRIGHT &copy; 2016 GALAXY ALL RIGHTS RESERVED</p>
				</div>
			</section>
		</footer>
	</body>
</html>