<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-securit">
<th:block th:fragment="header">
	<head>
		<link rel="shortcut icon" href="/images/fsearch.gif">
	</head>
	<body>
		<header>
			<div class="wrap">
				<section class="social flex end">
					<div class="wrap">
						<h1>sns</h1>
						<div class="flex">
							<ul class="weather">
								<li class="flex">
									<span>현재날씨</span>
									<span id="temp"></span>
									<img id="w_icon">
								</li>
							</ul>
						<!-- sns아이콘 -->
							<ul class="icons flex between">
								<li>
									<a href="https://www.facebook.com/galaxyvga/" target="_blank">
										<img alt="facebook" src="/images/face.gif">
									</a>
								</li>
								<li>
									<a href="http://brand.danawa.com/galaxykorea" target="_blank">
										<img alt="danawa" src="/images/danawa.gif">
									</a>
								</li>
								<li>
									<a href="https://pf.kakao.com/_HyxbJd" target="_blank">
										<img alt="kakao" src="/images/kakao.png">
									</a>
								</li>
								<li>
									<a href="https://www.youtube.com/" target="_blank">
										<img alt="youtube" src="/images/youtube.png">
									</a>
								</li>
							</ul>
						</div>
					</div>
					<script type="text/javascript">
					$(function(){
						var apiURI = "https://api.openweathermap.org/data/2.5/weather?q=seoul&appid=dd6069283e7f6064eeb3e828a7a3a73a";
						
						$.ajax({
							url: apiURI,
							dataType: "json",
							async: "false",
							success: function(result){
								//console.log("lon = " + result.coord.lon);
								//console.log("lat = " + result.coord.lat);
								temp = parseInt( result.main.temp-273.15) + "℃"
								console.log("현재온도 = " + ( parseInt( result.main.temp-273.15) ) );
								//console.log(result);
								
								var imgURL = "http://openweathermap.org/img/w/" + result.weather[0].icon + ".png";
								//console.log(imgURL);
								$("#w_icon").attr("src", imgURL);
								$("#temp").text(temp);
								
							}
						});
					});
					
					</script>
					<div id="login">
						<h1>로그인</h1>
						<ul class="flex end">
							<li sec:authorize="isAnonymous()">
								<a href="/loginpage">로그인</a>
							</li>
							<li class="join" sec:authorize="isAnonymous()">
								<span class="bar"></span>
								<a href="/join">회원가입</a>
							</li>
							<li sec:authorize="isAuthenticated()">
								<span id="username" sec:authentication="principal.name"></span>
								<a href="/logout">로그아웃</a>
								<span class="bar"></span>
								<a href="/user">회원정보</a>
								<span class="bar"></span>
								<a href="/cart">장바구니</a>
								<span class="bar"></span>
							</li>
							<li sec:authorize="hasRole('ROLE_ADMIN')">
								<a href="/admin">관리자페이지</a>
							</li>
						</ul>
					</div>
				</section>
				<section id="top-menu" class="flex between">
					<div id="logo">
						<h1>로고</h1>
						<!-- 로고들어갈자리 -->
						<a href="/">KJH</a>
					</div>
					<div th:replace="~{/layout/menu}"></div>
					<script type="text/javascript">
					$(function(){
						
						$("#top-menu .nb ul .wrap a").mouseover(function(){
							alert("1");
						});
						
						/* $(".sub-menu").mouseout(function(){
							$(this).fadeOut(300);
						}); */
						
						/* $(".nb>ul .wrap>li>a").hover(function(){
						} */
						/* ,function(){
							$(this).parent().find(".sub-menu").fadeOut(300);
						}); */
					});
					</script>
					<div id="search">
						<a href="/"><img src="/images/search.gif"></a>
						<input type="text">
					</div>
				</section>
			</div>
		</header>
	</body>
</th:block>
</html>