<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>회원정보 :: GALAX CLONE</title>
		 <!-- CDN으로 넣는방법 -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<link rel="stylesheet" href="/css/commons.css">
		<link rel="stylesheet" href="/css/header.css">
		<link rel="stylesheet" href="/css/footer.css">
		<link rel="stylesheet" href="/css/side.css">
		<link rel="stylesheet" href="/css/user.css">
	</head>
	<body>
		<th:block th:insert="~{/layout/header :: header}" />
		<section class="flex view-size between">
			<div id="side">
				<h1>사이드메뉴</h1>
				<p>회원정보</p>
				<ul>
					<li>
						<a href="/userInfo">- 회원정보수정</a>
					</li>
					<li>
						<a href="/qna">- 고객센터</a>
					</li>
					<li>
						<a href="https://www.ilogen.com/web" target="_blank">- 배송조회</a>
					</li>
					<li>
						<a href="/withdraw">- 회원탈퇴</a>
					</li>
				</ul>
			</div>
			<div id="user-menu">
				<section class="top flex between">
					<div class="wrap">
						<a href="/userInfo">회원정보 수정</a>
					</div>
					<div class="wrap">
						<a href="/qna">고객센터</a>
					</div>
					<div class="wrap">
						<a>배송조회</a>
					</div>
				</section>
				<section id="user-content" class="flex between">
					<div class="wrap">
						<div class="tit flex between">
							<p>1대1문의</p>
							<a>더보기</a>
						</div>
						<div>
						
						</div>
					</div>
					<div class="wrap">
						<div class="tit flex between">
							<p>Q&amp;A 내역</p>
							<a>더보기</a>
						</div>
						<div>
						
						</div>
					</div>
				</section>
			</div>
		</section>
	</body>
	<th:block th:insert="~{/layout/footer :: footer}" />
</html>