<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-securit">
	<head>
		<meta charset="UTF-8">
		<meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}"/>
		<meta name="_csrf_header" content="X-CSRF-TOKEN"/>
		
		<title>회원가입 :: GALAX CLONE</title>
		 <!-- CDN으로 넣는방법 -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
		<link rel="stylesheet" href="/css/commons.css">
		<link rel="stylesheet" href="/css/header.css">
		<link rel="stylesheet" href="/css/footer.css">
		<link rel="stylesheet" href="/css/side.css">
		<link rel="stylesheet" href="/css/join.css">
		<!-- <script src="/js/reg.js"></script> -->
	</head>
	<body>
		<th:block th:insert="~{/layout/header :: header}" />
		<section class="view-size">
			<form action="/register" method="post" onsubmit="allchk()">
				<div class="reg-form">
					<table>
						<tr>
							<th>
								<span id="required">*</span>
								<span>아이디</span>
							</th>
							<td>
								<span class="form-info">영문자, 숫자, _ 만 입력 가능. 최소 6자이상 입력하세요.<br></span>
								<input id="id" name="userId" type="text" required="required" class="bsize3">
								<div class="check" id="id_chk"></div>
							</td>
						</tr>
						<tr>
							<th>
								<span id="required">*</span>
								<span>비밀번호</span>
							</th>
							<td>
								<p>숫자, 문자, 특수문자를 조합하여 8자~16자로 구성해주세요.</p>
								<input class="pw bsize3" id="pass1" name="pw" type="password" required="required">
								<div id="pw_chk"></div>
							</td>
						</tr>
						<tr>
							<th>
								<span id="required">*</span>
								<span>비밀번호 확인</span>
							</th>
							<td>
								<input class="pw bsize3" id="pass2" type="password" required="required">
								<span id="eq_pw"></span>
							</td>
						</tr>
					</table>
				</div>
				<div class="reg-form">
					<table>
						<tr>
							<th>
								<span id="required">*</span>
								<span>이름</span>
							</th>
							<td>
								<input id="name" name="name" type="text" required="required" class="bsize2">
								<div id="name_chk"></div>
							</td>
						</tr>
						<tr>
							<th>
								<span id="required">*</span>
								<span>닉네임</span>
							</th>
							<td>
								<span class="form-info">공백없이 한글, 영문, 숫자, 특수문자 입력 가능 (3자이상 15자 이하)<br>
								닉네임을 바꾸시면 앞으로 60일 이내에는 변경 할 수 없습니다.<br></span>
								<input id="nick" name="nick" type="text" required="required" class="bsize2">
								<div id="nick_chk"></div>
							</td>
						</tr>
						<tr>
							<th>
								<span id="required">*</span>
								<span>E-mail</span>
							</th>
							<td>
								<input id="email" name="email" type="text" required="required" class="bsize5">
								<div id="email_chk"></div>
							</td>
						</tr>
						<tr>
							<th>
								<span id="required">*</span>
								<span>전화번호</span>
							</th>
							<td>
								<span>하이픈(-)을 제외한 숫자만 입력해주세요.</span><br>
								<input id="phone" name="phone" type="text" required="required" class="bsize3">
								<div id="phone_chk"></div>
							</td>
						</tr>
						<tr>
							<th>
								<span id="required">*</span>
								<span>주소</span>
							</th>
							<td colspan="3">
								<button type="button" onclick="findAddr()">주소검색</button><br>
								<input name="address1" id="address1" type="text" required="required" readonly="readonly" class="bsize4">
								<label>기본주소</label>
								<span id="required">*</span>
								<br>
								<input name="address2" id="address2" type="text" class="bsize4">
								<label>상세주소</label><br>
							</td>
						</tr>
						<tr class="sys">
							<th colspan="4">
								<span id="required">*</span>
								<span>사용중인 시스템 기입 - 모르는 경우 "모름" 기입</span>
							</th>
						</tr>
						<tr>
							<th>
								<span id="required">*</span>
								<span>사용중인 VGA</span>
							</th>
							<td>
								<input name="vga" type="text" required="required" class="bsize3">
							</td>
							<th>
								<span id="required">*</span>
								<span>시리얼 넘버</span>
							</th>
							<td>
								<input name="sn" type="text" required="required" class="bsize3">
							</td>
						</tr>
					</table>
				</div>
				<div class="reg-form">
					<table class="mailing">
						<tr>
							<th>메일링서비스</th>
							<td>
								<input id="mailing" name="mailing" type="checkbox">
								<span>정보 메일을 받겠습니다.</span>
							</td>
						</tr>
						<tr>
							<th>정보공개</th>
							<td>
								<span class="form-info">정보공개를 바꾸시면 앞으로 0일 이내에는 변경이 안됩니다.<br></span>
								<input id="open" name="open" type="checkbox">
								<span>정보 메일을 받겠습니다.</span>
							</td>
						</tr>
					</table>
				</div>
				<div class="btn-submit">
					<input type="hidden" th:name="${_csrf.parameterName}"  th:value="${_csrf.token}"/>
					<button type="submit" id="btn-submit">회원가입</button>
					<a href="/">취소</a>
				</div>
			</form>
		</section>
	</body>
	<script type="text/javascript">
	
		//id 패턴 확인
		$("#id").focusout(function(){
			var id = $("#id").val().trim();
			var idpattern = /^[a-zA-Z0-9_-]{6,}$/;
			
			if(id.length < 6){
				$("#id_chk").html("*아이디는 최소 6자이상 입력하세요.").css("color", "red");
				$("#id").focus();
				return false;
			}else if(!idpattern.test(id)){
				$("#id_chk").html("*영문자, 숫자, _ 만 입력 가능합니다.").css("color", "red");
				$("#id").focus();
				return false;
			}else{
				$("#id_chk").html("*사용가능한 아이디입니다.").css("color", "#008000");
			}
		})
		
		
		//비밀번호 패턴 확인
		$("#pass1").focusout(function(){
			var pw = $("#pass1").val().trim();
			var pwpattern = /^.*(?=^.{8,16}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&+=]).*$/;
			
			if(pw.length < 8 || pw.length > 16){
				$("#pw_chk").html("*패스워드 길이를 체크하세요.").css("color", "red");
				$("#pass1").focus();
				return false;
			}else if(!pwpattern.test(pw)){
				$("#pw_chk").html("*숫자, 문자, 특수문자를 조합하여 8자~16자로 구성해주세요.").css("color", "red");
				$("#pass1").focus();
				return false;	
			}else{
				$("#pw_chk").html("*사용가능한 비밀번호입니다.").css("color", "#008000");
			}
			
		})
	
		
		//비밀번호 일치 확인
		$("#pass2").focusout(function(){
			
			var pass1 = $("#pass1").val();
			var pass2 = $("#pass2").val();
			
			if(pass1 != "" || pass2 != ""){
				if(pass1 != pass2){
					$("#eq_pw").html('*비밀번호가 불일치합니다.');
					$("#eq_pw").css('color', 'red');
					$("#pass2").focus();
					return false;
				}else{
					$("#eq_pw").html('*비밀번호가 일치합니다.');
					$("#eq_pw").css('color', '#008000');
				}
			}
			
		})
		
		
		//이름 패턴 확인
		$("#name").focusout(function(){
			var name = $("#name").val().trim();
			var namepattern = /^[가-힣a-zA-Z]+$/;
			
			if(!namepattern.test(name)){
				$("#name_chk").html("*이름은 한글 또는 영문만 가능합니다.").css("color", "red");
				$("#name").focus();
				return false;
			}else{
				$("#name_chk").html("*확인완료").css("color", "#008000");
			}
		})
		
		
		//닉네임 패턴 확인
		$("#nick").focusout(function(){
			var nick = $("#nick").val().trim();
			
			if(nick.length < 3 || nick.length > 15){
				$("#nick_chk").html("*3자이상 15자 이하로 입력해주세요.").css("color", "red");
				$("#nick").focus();
				return false;
			}else{
				$("#nick_chk").html("*사용가능한 닉네임입니다.").css("color", "#008000");
			}
		})
		
		
		//이메일 패턴 확인
		$("#email").focusout(function(){
			var email = $("#email").val().trim();
			var emailpattern = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/;
			
			if(!emailpattern.test(email)){
				$("#email_chk").html("*형식에 맞지않는 이메일입니다.").css("color", "red");
				$("#email").focus();
				return false;
			}else{
				$("#email_chk").html("*형식에 맞는 이메일입니다.").css("color", "#008000");
			}
		})
	
		
		//전화번호 패턴 확인
		$("#phone").focusout(function(){
			var phone = $("#phone").val();
			var phonepattern = /^[0-9]{2,3}[0-9]{3,4}[0-9]{4}$/;
			
			if(!phonepattern.test(phone)){
				$("#phone_chk").html("*하이픈(-)을 제외한 숫자만 입력해주세요.").css("color", "red");
				$("#phone").focus();
				return false;
			}else{
				$("#phone_chk").html("*확인완료").css("color", "#008000");
			}
		})
		
		
		

	function findAddr(){ //주소검색 버튼클릭하면
		new daum.Postcode({
	        oncomplete: function(data) { //선택시 입력값 세팅
	        	
	        	console.log(data);
	        	
	            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
	            // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
	            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
	            var roadAddr = data.roadAddress; // 도로명 주소 변수
	            var jibunAddr = data.jibunAddress; // 지번 주소 변수
	            // 우편번호와 주소 정보를 해당 필드에 넣는다.
	            document.getElementById('address1').value = data.zonecode;
	            if(roadAddr !== ''){
	                document.getElementById("address1").value = roadAddr;
	            } 
	            else if(jibunAddr !== ''){
	                document.getElementById("address1").value = jibunAddr;
	            }
	        }
	    }).open();
	}


	</script>
	<th:block th:insert="~{/layout/footer :: footer}" />
</html>