@charset "UTF-8";

.admin{
	margin-left: 40px;
}
/* ////////////////////////////// */
.admin .page-tit{
	border-bottom: 1px solid #a9a9a9;
	margin: 0;
	padding-bottom: 25px;
}
/* ////////////////////////////// */
.admin form ul{
	margin-top: 15px;
}
.admin form li{
	padding-top: 10px;
}
/* ///////////////////////////// */
.goodsList .thum{
	width: 220px;
	height: 200px;
}

.goodsList table{
	width: 670px;
}

.goodsList .btn-cart{
	border: 1px solid #a9a9a9;
	width: 100px;
	text-align: center;
	height: 30px;
	line-height: 30px;
	margin-right: 20px;
	cursor: pointer;
}
/* ///////////////////////////// */
.admin table {
	margin-top: 10px;
}
/* ///////////////////////////// */
.admin .list-table{
	border-bottom: 1px solid #a9a9a9;
	border-top: 1px solid #a9a9a9;
}
.admin .list-table thead{
	height: 30px;
}
.admin .list-table tbody td{
	border-bottom: 1px solid #a9a9a9;
}
.admin .list-table tbody tr{
	height: 100px;
}
.admin .list-table tr td{
	text-align: center;
	border-right: 1px solid #a9a9a9;
}
.admin .list-table tr td:last-child {
	border-right: none;
}
.admin .list-table .list-title tr{
	background-color: #e9e9e9;
	margin: 20px 0;
	border-bottom: 1px solid #a9a9a9;
}
.admin .list-title tr td:nth-child(1) {
	width: 80px;
}
.admin .list-title tr td:nth-child(2) {
	width: 280px;
}
.admin .list-title tr td:nth-child(3) {
	width: 150px;
}
.admin .list-title tr td:nth-child(4) {
	width: 130px;
}
.admin .list-title tr td:nth-child(5) {
	width: 100px;
}
.admin .list-title tr td:nth-child(6) {
	width: 50px;
}
.admin .list-title tr td:nth-child(7) {
	width: 90px;
}
.admin .list-title tr td:nth-child(8) {
	width: 90px;
}
.admin .list-title tr td:nth-child(9) {
	width: 90px;
}
.admin .list-title tr td:nth-child(10) {
	width: 90px;
}

/* ////////////////////////////// */

