@charset "UTF-8";

#faq #faq-write{
	margin-bottom: 10px;
}

#faq #faq-write a{
	padding: 0.4em;
	font-size: 14px;
}
/* /////////////////////////////// */
#faq .faq-title .tit{
	font-size: 17px;
	color: #333;
	font-weight: 700;
	width: 780px;
}

#faq .faq-title{
	border-top: 1px solid #a9a9a9;
}

#faq .faq-title ul li:first-child{
	position: relative;
}

#faq .faq-title ul li img{
	position: absolute;
	top: 4px;
}

#faq .faq-title ul li i{
	cursor: pointer;
	font-size: 20px;
	line-height: 30px;
	padding: 1px 5px;
}

#faq .faq-title .wrap{
	height: 30px;
	line-height: 30px;
	padding: 0 15px;
}

/* /////////////////////////////// */
#faq .faq-content{
	border-top: 1px solid #a9a9a9;
	padding: 10px 20px;
	background-color: #f8f8f8;
}

#faq .faq-content:last-child {
	border-bottom: 1px solid #a9a9a9;
}
/* /////////////////////////////// */


