@charset "UTF-8";

header{
	border-bottom: none;
    box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
}

header>.wrap{
	margin: 0 auto;
	width: 1200px;
	height: 128px;
}
/* ////////////////////////////////// */
.social .weather span{
	padding: 8px 0;
}

.social .weather span{
	margin-right: 10px;
}

.social .weather img{
	width: 30px;
	height: 30px;
	margin-right: 20px;
}
/* ////////////////////////////////// */
.icons img{
	width: 25px;
	height: 25px;
}

.icons li{
	margin: 0 7px;
}
/* ////////////////////////////////// */
#login{
	width: 350px;
	line-height: 27px;
}

#login>ul li a{
	font-size: 12px;
	padding: 0.2em;
}

#login>ul li .bar{
	content: "";
	border-right: 1px solid #a9a9a9;
	font-size: 10px;
	margin: 0 4px;
}

#login>ul p{
	line-height: 31px;
    font-size: 11px;
}

#login #username{
	font-size: 14px;
	font-weight: 700;
}
/* ////////////////////////////////// */
#logo a{
	font-size: 40px;
}
/* ////////////////////////////////// */
header>.wrap>.social{
	margin: 15px 0;
}

header>.wrap>.social .icons{
	width: 150px;
}

header>.wrap>.social #login{
	width: 320px;
}
/* ////////////////////////////////// */
#search{
	border: 1px solid #bbc0c0;
	margin: 15px 0 10px;
	width: 220px;
}

#search a{
	width: 35px;
	height: 33px;
	border-right: 1px solid #bbc0c0;
	position: absolute;	
}

#search a img{
	width: 34px;
	height: 33px;
}

#search input{
	border-style: none;
	margin-left: 35px;
    height: 33px;
}
/* ////////////////////////////////// */
#top-menu{
	margin-top: 20px;
}

#top-menu > .nb > ul{
	z-index: 999;
}

#top-menu > .nb > ul > .wrap .header-tit{
	width: 140px;
	height: 60px;
	display: block;
	text-align: center;
    line-height: 60px;
	color: #878787;
	font-weight: 700;
	font-size: 18px;
}

#top-menu > .nb > ul > .wrap .header-tit:hover{
	color: red;
}

#top-menu > .nb > ul > .wrap:hover #sub-menu{
	display: block;
}

#top-menu > .nb > ul .wrap #sub-menu{
	display: none;
	position: absolute;
	padding: 10px;
	background-color: #fff;
}

#top-menu > .nb > ul .wrap #sub-menu li{
	float: none;
	border-top: 1px dotted #888;
}

#top-menu > .nb > ul .wrap #sub-menu li:first-child{
	border: none;
}

#top-menu > .nb > ul .wrap #sub-menu li a{
	display: block;
	padding: 6px;
	color: #a9a9a9;
}

#top-menu > .nb > ul .wrap #sub-menu li a:hover{
	color: #000;
}