@charset "UTF-8";

#login-table{
	width: 500px;
	padding: 70px 0;
	margin: 0 auto;
}
#login-table>p{
	font-size: 30px;
	color: #666666;
	margin-bottom: 20px;
	font-weight: 700;
	text-align: center;
}
/* //////////////////// */
#log-form form p{
	text-align: center;
}
#log-form form input,
#log-form form button{
	width: 320px;
	height: 50px;
	margin: 3px 0;
	padding: 8px;
	font-size: 17px;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
}
#log-form .wrap{
	width: 320px;
	margin: 6px auto;
    text-align: right;
}
#log-form .wrap a:first-child{
	border-right: 1px solid #a9a9a9;
	padding-right: 4px;
}
#log-form .wrap a:last-child{
	padding-left: 1px;
}
#log-form form button{
	margin-top: 30px;
    background-color: #d7d7d7;
    font-size: 20px;
    cursor: pointer;
}
/* //////////////////// */
#social-login{
	text-align: center;
}
#social-login img{
	width: 320px;
	height: 50px;
}
/* //////////////////// */
#go-main{
	text-align: center;
	margin-top: 15px;
	border-top: 1px solid #a9a9a9; 
	padding-top: 20px;
}

#go-main> a{
	font-size: 14px;
	color: #666666;
}