<html xmlns:th="http://www.thymeleaf.org">
	<th:block th:each="dto : ${list}">
		<div class="goods">
			<div class="flex between">
				<ul class="thum">
					<li class="img" th:style="|background-image: url('${dto.filePath + dto.fileName}');|">
				</ul>
				<div>
					<ul class="goods-content">
						<li class="flex">
							<span>제품명</span>
							<p><a th:href="|/goods/${dto.gno}|">[[${dto.title}]]</a></p>
						</li>
						<li class="flex price">
							<span>판매가격</span>
							<p>[[${dto.price - ((dto.price / 100) * dto.discount ) }]]&nbsp;원</p>
						</li>
						<li class="flex">
							<span>비고</span>
							<p>[[${dto.subTitle}]]</p>
						</li>
						<li class="flex count">
							<span>수량</span>
							<div class="wrap">
								<input class="cnum" type="text" value="1" min="1" readonly="readonly">
								<button class="countup" type="button">+</button>
								<button class="countdown" type="button">-</button>
							</div>
						</li>
					</ul>
					<div class="flex end btn-cart">
						<button id="btn-cart" type="submit">장바구니 담기</button>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	<script type="text/javascript">
		$(".countup").click(function(){
			var cnum = $(this).siblings(".cnum").val();
			var cnumUp = ++cnum;
			//console.log(cnum);
			$(this).siblings(".cnum").attr("value",cnumUp);
			//console.log(cnumUp);
		});
		
		$(".countdown").click(function(){
			var cnum = $(this).siblings(".cnum").val();
			var cnumDown = --cnum;
			//console.log(cnum);
			$(this).siblings(".cnum").attr("value",cnumDown);
			//console.log(cnumDown);
			if( cnum <= 0){
				alert("최소 수량은 1개입니다.");
				$(this).siblings(".cnum").attr("value","1");
			}
			
		});
	</script>
</html>